{% extends 'base.html' %}

{% block title %}404 Not Found{% endblock %}
{% block content %}
    <article role="main" class="page-content">
        <div class="g-container">
            <div class="g-row">
                <div class="page-error-logo _error-404">
                    <div class="beam"></div>
                </div>
                <div class="article-content">
                    <h1 class="page-error__h1">哦豁！</h1>
                    <div class="page-error__sub-title">你肯定知道这意味着什么。</div>
                    <div class="page-error__text">
                        找不到所请求的页面。请使用尝试搜索或回到<a href="/">主页</a>。
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}