{% extends 'base.html' %}

{% block title %}资源 - Kotlin 语言中文站{% endblock %}

{% block content %}
    <div class="g-grid">
        <article role="main" class="page-content g-9">
            <p><a href="https://github.com/search?q=language:Kotlin&ref=cmdform">在 GitHub 上 Kotlin 项目有超过 2000
                个版本库</a>。 这些只是其中的一小部分。
                如果你有（或知道）一个 Kotlin OSS 项目，请<a
                        href="https://github.com/JetBrains/kotlin-web-site/edit/master/data/oss-projects.yml"><!--
                    -->添加</a>。</p>
            <br/>
            <br/>

            <h2>社区维护链接</h2>

            可以在
            <a href="http://kotlin.link/">Awesome Kotlin</a> 找到社区维护的 Kotlin 项目、库以及其他资源的链接列表。

            <h2>开源项目与库</h2>

            <table>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>描述</th>
                    <th>类型</th>
                </tr>
                </thead>
                <tbody>
                {% for project in site.data["oss-projects"] %}
                    <tr>
                        <td><a href="{{ project.link }}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </div>
{% endblock %}
