<div class="global-nav banner-container">
    <a class="banner-text" href="http://everywhere.kotlinlang.org" target="_blank">
        <div class="banner-item title">
               Kotlin/Everywhere 活动
        </div>
        <div class="banner-item underline">
            参加
        </div>
    </a>
    <a class="banner-text" href="https://kotlin.gdgbeijing.org/" target="_blank">
        <div class="banner-item title">
            Kotlin/Everywhere 北京 2019-08-31
        </div>
        <div class="banner-item underline">
            立即报名
        </div>
    </a>
    <div class="close-head-banner"></div>
</div>
